html,body{
    height:100% !important;
    margin:0 !important; 
    padding: 0 !important;
    width: 100% !important;
}
/*estilos para los popup*/
.popup{
    background-color: white;
    width: 320px !important;
    height: 450px;
}
.quepaso{
    height: 286px !important;
    width: 278px !important;
    border: transparent !important;
    border-radius: 8px !important;
}
.quepaso:focus{
    outline: none !important;
    outline-color: transparent !important;
}
.borde_imagen{
    padding-top: 3px;
    background-image: url(../img/bordes/borde.PNG);
    height: 299px;
    width: 298px;
    background-size: cover;
}

/*estilos para la imagen de perfil*/
.foto_perfil{
    width: 50%;
    height: 50%
}
/*-------------------------------------------------------*/

/*estilos para las sombras de los input y botones de fomrulario*/
.formulario_cheto{
    width: 88%;
    text-align: left;
    margin-top: 20px;
}
.formulario_cheto .ui-input-text{
    border: 3px solid  #EAC12E !important;
    border-radius: 50px;
    background-color: transparent !important;    
}
.formulario_cheto .ui-shadow-inset{
    box-shadow: #EAC12E !important;
    border-color: #EAC12E !important;
}
.formulario_cheto .ui-focus{
    outline: none; /* I also proved with 0 */
    -webkit-box-shadow:  1px 0px 38px -2px rgba(0,0,0,0.72) !important;
    -moz-box-shadow: 1px 0px 38px -2px rgba(0,0,0,0.72) !important;
    box-shadow: 1px 0px 38px -2px rgba(0,0,0,0.72) !important;
}
.formulario_cheto .ui-btn:active{
    outline: none; /* I also proved with 0 */
    -webkit-box-shadow:  1px 0px 38px -2px rgba(0,0,0,0.72) !important;
    -moz-box-shadow: 1px 0px 38px -2px rgba(0,0,0,0.72) !important;
    box-shadow: 1px 0px 38px -2px rgba(0,0,0,0.72) !important;
}
.formulario_cheto .ui-btn{
    border-color:  3px solid  #EAC12E !important;
    font-weight: 100 !important;
    text-shadow: none !important;
    padding: 7px 2px 3px 3px !important;
    border-radius: 50px !important;
    background-color: #EAC12E !important;
    color: white !important;
}
.formulario_cheto .ui-select{
    border-color:  3px solid  #EAC12E !important;
    border-radius: 50px !important;
}
/*--------------------------------------------------------------*/


/*estilos especificos para pagina reserva y mapa*/
.margen-cero{
    padding: 0px !important;  
}
.mapa{
    height: 100%;
}
#map-page, #map-canvas { width: 100%; height: 95%; padding: 0; }
#reserva {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}
.ui-content {
  padding: 0 !important;
  margin: 0 !important;
}
.ui-content,
.ui-content #map-canvas-user{
  height: inherit;
}
.telefono_btn{  
    width: 40px;
    background: none !important;
    border:  none !important;
    position: absolute;
    left: 1%;
    bottom: 14%;
    z-index: 9999999;
}
.telefono_img{
    width: 40px;
    height: 40px;
}
.telefono_img:active{
    border-radius: 100px;
    -webkit-box-shadow:  1px 0px 38px -2px rgba(0,0,0,0.72) !important;
    -moz-box-shadow: 1px 0px 38px -2px rgba(0,0,0,0.72) !important;
    box-shadow: 1px 0px 38px -2px rgba(0,0,0,0.72) !important;
}
#recogida{
    width: 100%;
    position: absolute;
    top: 60px;
    left: 5px;
    z-index: 999;
}
#recogida input{
    background-image: url(../img/iconos/lupa1.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    font-weight: bold !important;
}
#recogida .ui-input-text{
    border: 1px solid  #fff !important;
    border-radius: 50px;
    background-color: #fff !important;    
}
.dejada{
    width: 100%;
    position: absolute;
    bottom: 30px;
    left: 5px;
    z-index: 999;
}
.dejadar{
    width: 100%;
    position: absolute;
    top: 100px;
    left: 5px;
    z-index: 999;
}
#dejada input{
    background-image: url(../img/iconos/lupa1.png);
    background-position: 0 100%;
    background-repeat: no-repeat;
    font-weight: bold !important;
}
#dejada .ui-input-text{
    border: 1px solid  #fff !important;
    border-radius: 50px;
    background-color: #fff !important;    
}
#dejada #direccionllegada{
    text-align: right;
}
.popup_reserva{
    margin-top: 130px;
    width: 340px; 
    padding: 5px;
}
#diasrecogidas{
    width: 95%;
    margin: 0px auto;
    text-align: center;
    font-size: 20px;
}
.diasrecogidas input[type=checkbox]{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
  margin: 10px;
}
.diasrecogidas .numero{
    font-size: 25px;
    vertical-align: top!important;
    margin-top: -4px;
}
.menos{
    /*margin: 0px 6px 0px 0px;*/
}
.vistalineal{
    display: inline-block;     
}
.vistalineal img{
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
/*--------------------------------------------------------------*/

/*----------estilos especificos para pagina principal----------*/
.slider_content{
  text-align: left;
  padding: 24px 0px 10px 45px;
  box-sizing: border-box;
}
.label_switch{
    width: 120px;
    height: 37px;
    padding-top: 11px;
}
.ui-slider-track{border-radius: 50px !important}
.ui-slider-label-a{
    background-color:  black !important;  
}
.ui-btn{
    box-shadow: 0px 1px 0px #d3c50e !important;
    border-color:  #d3c50e !important;
}
.mis_rutas{
    margin: 3px 0px 20px 3px;
    border: 3px solid #EAC12E;
    border-radius: 8px;
    min-height: 150px;
    font-size: 12px;
}
.tabla_misrutas{
    margin: 5px;
}
/*-------------------------------------------------------*/

/*--------------------loader*-----------------------------*/
.cargando
{
    z-index: 100;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    left: 0px;
    top: 0px;

}
.loading{
    width: 150px;
    height: 150px;
    position:absolute;
    left:0px;
    right:0px;
    top:40%;
    margin:auto;
}

/*----------------texto en fondo oscuro---------------------*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    rgba(255,255,255,0.1);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    rgba(255,255,255,0.1);
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    rgba(255,255,255,0.1);
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    rgba(255,255,255,0.1);
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    rgba(255,255,255,0.1);
}
.sin_fondo{background: none !important;}
.sin_borde{border: none !important;}
.sin-decoracion{word-wrap: initial !important; border: none !important; text-decoration: none !important; font-weight: lighter !important; text-shadow: none !important;}
.texto_blanco{color: white !important;}
.texto-18{font-size: 18px !important;}
.texto-16{font-size: 16px !important;}
.texto-14{font-size: 14px !important;}
/*-------------------------------------------------------*/

/*clases flotantes para divs o contanedores*/
.flotarderecha{float: right !important;}
.flotarizaquierda{float: left !important;}
/*-------------------------------------------------------*/

/*anchos espesificios para divs o contenedores*/
.lb-auto{width: auto;}
.lb-100{width: 100%;}
.lb-90{width: 90% !important;}
.lb-85{width: 85%;}
.lb-80{width: 80%;}
.lb-73{width: 73%; padding-top: 10px;}
.lb-72{width: 72%;}
.lb-64{width: 64%;}
.lb-62{width: 62%;}
.lb-60{width: 60%;}
.lb-40{width: 40%;}
.lb-30{width: 30%;}
.lb-25{width: 25%;}
.lb-20{width: 20%;}
.lb-10{width: 10%;}
/*-------------------------------------------------------*/

/*margenes espesificios para divs o contenedores*/
.margen_top-10{margin-top: 10px;}
.margen_top-5{margin-top: 5px;}

.margen_left-5{margin-left: 5px;}

.padding_left-6{padding-left: 6px}
.padding_left-5{padding-left: 5px}
/*-------------------------------------------------------*/

/* fondos de colores para los divs o contenedores*/
.fondo_negro{
    background-color:  #323232 !important;
}
.fondo_blanco{
    background-color:  white !important;
}
/*-------------------------------------------------------*/

/*estilos espesificios para la cabecera*/
.atras{width: 50px; height: 45px; margin-top: 10px;}
.atrasimg{width: 35px; height: 30px; margin-left: 7px;}
.fondo_negro div h2{color: white; font-size: 18px;}
/*-------------------------------------------------------*/


/*estilos especificos para el footer*/
.footer-tablero{
    position: fixed;
    bottom: -80px;
    width: 100%;
    z-index: 1000;
}
.tablero_ruta{
    background: url(../img/iconos/tableroruta.png) center;
    background-size: cover;
    height: 150px; width: 200px;
    color: white;
    
}
.tablero_ruta h3{
    padding-top: 10px;
    padding-left: 5px;
}
/*.tablero_ruta{height: 20px;}/*pendiente para quitar*/
/*.circulo{background: black; margin-top: -15px; height: 60px; width: 60px; border-radius: 50px;}/*pendiente para quitar*/
/*-------------------------------------------------------*/


/*estilos espesificios para el login*/
.logo_principal{
    margin-top: 27%;
    margin-bottom: 50px;
    width: 70%;
    height: 70%;
}
.login_facebook{
    margin-top: 30px;
}
.btn_facebook{
    height: 50px;
    width: 50px;
}
.fondo_login{background-color: #323232 !important;}
#login div input{
    border: 1px solid #EAC12E;
    border-radius: 50px;
    background-color: none !important;
}
.btn_login{
    margin-top: 10px;
    border: 1px solid #EAC12E !important;
    border-radius: 80px !important;
    color: white !important;
    font-family: Arial, Helvetica, sans-serif !important;
    letter-spacing: 1.5px !important;
    background: #EAC12E !important;
        
}
.olvidopass{background-color: transparent !important;}

.fondo_login .ui-input-text{
    border: 1px solid #EAC12E !important;
    border-radius: 50px;
    background-color: transparent !important;
}
.fondo_login .ui-btn{border-color:  transparent !important;}
.fondo_login div a{
    margin-top: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif !important;
    letter-spacing: 0.5px !important;    
    font-weight: 100 !important;
}
/*-------------------------------------------------------*/


/*estilos espesificios para el menu*/
.section_menu{
    position: fixed;
    top: 55px;
    left: 0px;
    z-index: 9999999999;
}
.menu{
    border-radius: 10px;
    padding: 10px;
    list-style:none;
    width:200px;
    margin: 5px;
    font-size:18px;
    background-color: rgba(234, 193, 46, 0.95);
    -webkit-box-shadow:  1px 0px 38px 2px rgba(0,0,0,0.72) important;
    -moz-box-shadow: 1px 0px 38px 2px rgba(0,0,0,0.72) !important;
    box-shadow: 1px 0px 38px 2px rgba(0,0,0,0.72) !important;
    
}
.menu li a{
    display: block;  
    text-decoration:none;
    color:#4C4C4C;
    border-bottom: 1px solid black;
    filter: dropshadow(color=#000, offx=1, offy=0);
    padding:10px;
    padding-left:20px;
}
.menu li ul li a{font-size:14px;}
.menu li a:hover{
    background-color: #4C4C4C;
    color:  white;
    -moz-transition: background 0.3s ease-in;
    -webkit-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
}
.menu ul{
    margin:0;
    padding:0;
    list-style:none;
    height:0;
    overflow: hidden;
    transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
}
.menu li:hover ul{
    color:  white;
    height:120px;
    overflow-y:auto;
    overflow-x:hidden;
}
.menu ul li a:hover {
    background-color: #4C4C4C;
    color:  white;
    -moz-transition: color 0.4s ease;
    -webkit-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
}
/*-------------------------------------------------------*/